.secao-horizontal .cartao {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.25rem;
}

.secao-horizontal .cartao__imagem {
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4; 
    
    Trabalhando esse posicionamento de uma maneira super resumida: */
    grid-area: 1/1/4/2;
}

.secao-horizontal .cartao__titulo {
    align-self: end;
    /* Maneira mais verbosa/trabalhosa de posicionar um elemento com Grid */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.secao-horizontal .cartao__subtitulo {
    /* Maneira mais verbosa/trabalhosa de posicionar um elemento com Grid */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.secao-horizontal .cartao__player {
    /* Maneira mais verbosa/trabalhosa de posicionar um elemento com Grid */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;    
}

.secao-horizontal .cartao__botao {
    /* grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4; 

    Trabalhando esse posicionamento de uma maneira resumida: */
    grid-column: 3/4;
    grid-row: 1/4;

    /* Simplificando mais ainda poderiamos usar:
    grid-area: 1/3/4/4;

    os valores são na seguinte ordem: row-start/column-start/row-end/column-end
    */
}

.secao-vertical .cartao {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
